src/main/webapp/WEB-INF/schemas/xsd/ticket-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://integration.webservice.koitoer.com/tickets" xmlns:tickets="http://integration.webservice.koitoer.com/tickets">
  <xs:element name="ticketRequest">
    <xs:complexType>
      <xs:attribute name="filmId" use="required" type="xs:NCName"/>
      <xs:attribute name="quantity" use="required" type="xs:integer"/>
      <xs:attribute name="sessionDate" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
